<h1>Welcome to {{title}}</h1>
<p>Welcome to my personal Website! I hope you don't mind that it is still a work in progress.</p>
<p>I've just deployed the site and have a lot of great plans. I'm working on serving this site over HTTPS, creating a blog, and even an interactive game where you can play against my Chess AI. Please come back soon after I've familiarized myself with Vue.js and produced a final site!</p>
