/*How to use here - https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Used to set default styles/fonts for html elements*/
@layer base {
	.dark img {
		filter: invert(90%);
	}
}

/*Define custom components for your project that can be overridden by utility classes*/
@layer components {
	/*Slow underline expanding from middle for li items*/
	.expand-button:hover {
		position: relative;
	}
	.expand-button:hover::after {
		@apply bg-underline dark:bg-underline;
		left: 0;
		right: 0;
		bottom: -9px;

	}
	.expand-button::after {
		content: "";
		position: absolute;
		left: 51%;
		right: 51%;
		height: 1px;
		transition-property: left, right;
		transition-duration: 0.4s;
		transition-timing-function: ease-out;
	}

	/*Make text wiggle on hover*/
	.plus-wiggle:hover {
		animation: wiggle 0.5s infinite ease-in-out;
	}

	@keyframes wiggle {
		0% {
			transform: rotate(-5deg);
		}
		50% {
			transform: rotate(5deg);
		}
		100% {
			transform: rotate(-5deg);
		}
	}

	/*default fonts parings */
	.text-main {
		@apply text-lightMain dark:text-darkMain
	}

	.text-secondary {
		@apply text-lightSecondary dark:text-darkSecondary
	}

	.text-tertiary {
		@apply text-lightTertiary dark:text-darkTertiary
	}
}

/*Custom modifiers for component elements*/
@layer utilities {
}